@font-face {
    font-family: 'PlayFair';
    src: url('../fonts/static/PlayfairDisplay-Regular.ttf');
}

/*VARIABLES*/
:root{
    --color_principal: #004b87;
    --color_secundario: #00a859;
    --color_oscuro: #2b2b2b;
    --color_claro: #ffffff;
    --color_fondo: #f4f7f6;
    --color_borde: #e0e0e0;

    /* Tipografia en linea para titulos */
    --fuente_titulos: 'Open Sans',sans-serif;
    /* Tipografia Descargada */
    --fuente_cuerpo: 'OpenSansdescargada', Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color_fondo);
    color:var(--color_oscuro);
    line-height: 1.6;
     font-family:var(--fuente_cuerpo);
}

#h1,h2,h3{
    font-family: var(--fuente_titulos);
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--color_oscuro);
    font-family: var(--fuente_titulos)
}

header{
    background-color: var(--color_claro);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgb(0,0,0, 0.5 );
    position: sticky;
    top: 0;
    z-index: 1000;
}
#logo h1{
    color: var(--color_principal);
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 0;
}
.MENU ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.MENU a{
    font-size: 0.95rem;
    font-weight: 600;
}
.MENU a:hover{
  color: var(--color_principal);
}
.btn_destacado,.btn_accion{
 padding: 10px 20px;
 border-radius: 6px;
 font-weight: 700;
}
.btn_destacado, .btn_accion{
    background-color: var(--color_principal);
    color: var(--color_claro);
}
.btn_destacado, .btn_accion{
    background-color: var(--color_principal);
    color: var(--color_claro);
}
.btn_accion{
    background-color: var(--color_secundario);
    color: var(--color_claro);
}
.btn_accion:hover{
    background-color: var(--color_principal);
    color: var(--color_claro);
}
/* HERO */
.hero{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    flex-wrap: wrap;
}
.hero_contenido, .hero_imagen{
    flex: 1 1 300px; /* Crecer encoger TamBase*/
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

.hero_contenido h2{
    font-size: 2.4rem;
    color: var(--color_principal);
    line-height: 1.2;
}

.hero_contenido p{
    font-size: 1.1rem;
    margin-bottom: 20px;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Grid de Cursos*/
#catalogo{
    padding: 40px 0;
}

#catalogo h2{
    text-align: center;
    color: var(--color_principal);
}
.grid_cursos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.tarjeta_curso{
    background-color: var(--color_claro);
    border: 1px solid var(--color_borde);
    border-radius: 8px; 
    flex: 1 1 280px; /*grow shrink basis*/
    max-width: 350px;
    display: flex;
    flex-direction: column;
    /*Aqui efecto*/
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.tarjeta_curso:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
.tarjeta_curso img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.info_curso{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.info_curso h3{
    font-size: 1.3rem;
    color: var(--color_principal);
}
.info_curso p{
    margin-bottom: 15px;
    flex-grow: 1;
    color: var(--color_oscuro);
}
.tarjeta_curso .imgtarjeta {
    width: 45px;
    height: 45px;
    object-fit: contain;
    flex-shrink: 0;
}
.nivel{
    background-color: var(--color_fondo);
    color: var(--color_principal);
    font-family: var(--fuente_titulos);
    padding: 4px 10px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    align-self: flex-start;
}
aside{
    background-color: #e0f7fa;
    border-left: 4px solid #00b4d8;
}
/*Footer*/
footer{
    background-color: var(--color_oscuro);
    color: var(--color_claro);
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}